<div class="box1">
    <div style="background-position:center ; width:300px; height: 400px; border: 3px solid #000203;">
        <div style="text-align: center; ">
        <h2> Andrea Bricca</h2> 
        <h4>Matricola 104933</h4> 
        <h4>andrea.bricca@studenti.unicam.it</h4> 
     </div>
     <div style="text-align: center; ">
    <img src="../../../assets/immagini/God.jpg"   width="150" height="250" data-holder-rendered="true">
</div>
</div>
</div>


  
                <div class="box2">
            <div style="background-position:center ; width:300px; height: 400px; border: 3px solid #000203;">
                <div style="text-align: center; ">
                <h2>Alessandro Finocchi</h2> 
                <h4>Matricola 105194</h4> 
                <h4>alessandr.finocchi@studenti.unicam.it</h4> 
             </div>
             <div style="text-align: center; ">
            <img src="../../../assets/immagini/God3.jpg"   width="150" height="250" data-holder-rendered="true">
        </div>
        </div>
        </div>

    <div class="box3">
        <div style="background-position:center ; width:300px; height: 400px; border: 3px solid #000203;">
            <div style="text-align: center; ">
            <h2>Lorenzo Compagnucci</h2> 
            <h4>Matricola 105354</h4> 
            <h4>lorenz.compagnucci@studenti.unicam.it</h4> 
         </div>
         <div style="text-align: center; ">
        <img src="../../../assets/immagini/god4.jpg"   width="150" height="250" data-holder-rendered="true">
    </div>
    </div>
    </div>
 

<div class="box4">
    <div style="background-position:center ; width:300px; height: 400px; border: 3px solid #000203;">
        <div style="text-align: center; ">
        <h2> Mirko Verdecchia</h2> 
        <h4>Matricola 105321</h4> 
        <h4>mirko.verdecchia@studenti.unicam.it</h4> 
     </div>
     <div style="text-align: center; ">
    <img src="../../../assets/immagini/god2.jpg"   width="150" height="250" data-holder-rendered="true">
</div>
</div>
</div>
