/*.box{
    display: inline-block;
    position: center;

    background: rgb(238, 238, 238);
    width:300px;
    padding: 10px;
    box-shadow: 5px 5px 10px 2px #333333;
    -webkit-box-shadow: 5px 5px 10px 2px #333333;
    -moz-box-shadow: 5px 5px 10px 2px #333333;
    
}
*/
body {
    background-color: #e2d3d3;
  }
  
.box{
    
    text-align: center;
    padding: 15px;
    margin: 15px;
    width: 260px;
    height: 450px;
    background-color: grey;
    color: black;
    border-style:outset;
    border-color: yellow;
    border-width: 5px;
    border-radius: 30px 15px 30px 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: inline-block;
}
.flex{
    max-width: 150px;
    border-radius: 30px 15px 30px 15px;
}