<html>
	<body>
		<div class="box">
			<div class="table-title">
				<h3><mat-icon>wine_bar</mat-icon>CARRELLO</h3>
			</div>
			<div class="listbox-area">
				<div class="left-area" *ngIf = "!carrelloVuoto()"> 
					<span id="ss_elem"></span>
					<ul id="ss_elem_list" tabindex="0" role="listbox" aria-labelledby="ss_elem">
						<table class="table-fill">
							<thead>
							<tbody class="table-hover">
								<tr *ngFor="let vino of carrello">
									<td class="text-left">{{vino.nome}}</td>
		  				 			<td class="text-left">{{vino.prezzo}}€</td>
						   			<td class="text-left"><button mat-raised-button type="button" class="btn btn-default button1" (click)="rimuoviDalCarrello(vino)">Rimuovi</button></td>
								</tr>
							</tbody>
						</table>
					</ul>
					<input type="text" placeholder="telefono" size="10" #telefono>
					<input type="text" placeholder="citta" #citta>
					<input type="text" placeholder="indirizzo" #via>
					<button class="button button2" (click) = "ordina(telefono.value, citta.value, via.value)">Acquista</button>
					<p>IL TOTALE E' €{{this.carrelloService.totale}}</p>
	  			</div>
				<div class="left-area" *ngIf = "carrelloVuoto()">
					<P>IL CARRELLO E' VUOTO</P>
				</div>
			</div>
		</div>
		<div class ="box2"> 
			<br><br>
		<h1> <strong>Aggiungere i vini da acquistare nella lista carrello </strong></h1>
	<h1><strong>Per procedere con l'acquisto inserire:</strong></h1>
	<h1><em>Telefono</em></h1>
	<h1><em>Città</em></h1>
	<h1><em>Indirizzo</em></h1>
	<h1><strong>E infine brinda in compagnia!</strong> </h1>
	</div>
	</body>
</html>

<!--

	<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
	<div class="table-title" *ngIf="!carrelloVuoto()">
		<h3><mat-icon>wine_bar</mat-icon>CARRELLO</h3>
		<table class="table-fill">
			<thead>
				<tr>
					<th class="text-left">Nome</th>
					<th class="text-left">Prezzo</th>
				</tr>
			</thead>
			<tbody class="table-hover">
				<tr>
					<tr *ngFor="let vino of carrello">
						<td class="text-left">{{vino.nome}}</td>
						<td class="text-left">{{vino.prezzo}}€</td>
						<td class="text-left">
						<button type="button" class="btn btn-default" (click) = "rimuovi(vino)">Rimuovi</button></td>
					</tr>
				<tr>
				<button (click) = "ordina()">ORDINA</button>
			</tbody>
		</table>
	</div>
	<div *ngIf="carrelloVuoto()">
		<p>IL CARRELLO E' VUOTO</p>
	</div>
</body>

-->