<html>
	<div class="box">
		<div class="table-title">
		  <h3><mat-icon>wine_bar</mat-icon>CARRELLO</h3>
		</div>
		<div class="listbox-area">
			<div class="left-area" *ngIf = "!carrelloVuoto()"> 
				<span id="ss_elem"></span>
				<ul id="ss_elem_list" tabindex="0" role="listbox" aria-labelledby="ss_elem">
					<tr *ngFor="let vino of carrello">
		  				<td>{{vino.nome}}</td>
		  				<td>{{vino.prezzo}}</td>
						<button type="button" class="btn btn-default" (click)="rimuoviBottiglia(vino)">Rimuovi</button>
					</tr>
				</ul>
				<button class="button button2">Acquista</button>
	  		</div>
			<div class="left-area" *ngIf = "carrelloVuoto()">
				<P>IL CARRELLO E' VUOTO</P>
			</div>
		</div>
	</div>
</html>

<!--

	<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
	<div class="table-title" *ngIf="!carrelloVuoto()">
		<h3><mat-icon>wine_bar</mat-icon>CARRELLO</h3>
		<table class="table-fill">
			<thead>
				<tr>
					<th class="text-left">Nome</th>
					<th class="text-left">Prezzo</th>
				</tr>
			</thead>
			<tbody class="table-hover">
				<tr>
					<tr *ngFor="let vino of carrello">
						<td class="text-left">{{vino.nome}}</td>
						<td class="text-left">{{vino.prezzo}}€</td>
						<td class="text-left">
						<button type="button" class="btn btn-default" (click) = "rimuovi(vino)">Rimuovi</button></td>
					</tr>
				<tr>
				<button (click) = "ordina()">ORDINA</button>
			</tbody>
		</table>
	</div>
	<div *ngIf="carrelloVuoto()">
		<p>IL CARRELLO E' VUOTO</p>
	</div>
</body>

-->