<div class="box">
	<div class="table-title">
		<h3><mat-icon>wine_bar</mat-icon>CARRELLO</h3>
	</div>
	<div class="listbox-area">
		<div class="left-area" *ngIf = "!carrelloVuoto()"> 
			<span id="ss_elem"></span>
			<ul id="ss_elem_list" tabindex="0" role="listbox" aria-labelledby="ss_elem">
				<table class="table-fill">
					<thead>
					<tbody class="table-hover">
						<tr *ngFor="let bottiglia of getCarrello()">
							<td class="text-left">{{bottiglia.nome}}</td>
		  				 	<td class="text-left">€{{bottiglia.prezzo}}</td>
							<td class="text-left">{{numeroBottiglie(bottiglia)}}</td>
						   	<td class="text-left"><button mat-raised-button type="button" class="btn btn-default button1" (click)="rimuoviDalCarrello(bottiglia)">Rimuovi</button></td>
						</tr>
					</tbody>
				</table>
			</ul>
			<input type="text" placeholder="telefono" size="10" #telefono>
			<input type="text" placeholder="citta" #citta>
			<input type="text" placeholder="indirizzo" #via>
			<input type="text" placeholder="coupon" #coupon>
			<button class="button button2" (click) = "ordina(telefono.value, citta.value, via.value, coupon.value)">Acquista</button>
			<p>IL TOTALE E' €{{getTotale()}}</p>
	  	</div>
		<div class="left-area" *ngIf = "carrelloVuoto()">
			<P>IL CARRELLO E' VUOTO</P>
		</div>
	</div>
</div>
<div class ="box2"> 
	<br><br>
	<h1><strong>Aggiungere i vini da acquistare nella lista carrello </strong></h1>
	<h1><strong>Per procedere con l'acquisto inserire:</strong></h1>
	<h1><em>Telefono</em></h1>
	<h1><em>Città</em></h1>
	<h1><em>Indirizzo</em></h1>
	<h1><strong>E infine brinda in compagnia!</strong></h1>
</div>