<div class="container">
    <h1 style="text-align: center">Login</h1>
    <div *ngIf="!user">
        <a class="btn btn-outline-dark" (click)="loginConGmail()" role="button" style="width: 100%; margin-top: 10px;padding: 12px;">
            <img width="20px" style="margin-bottom: 3px; margin-right: 5px;" alt="google sign-in" src="/client/src/assets/immagini/immaginelogin.png">
            login Con Google
        </a>
    </div>

    <div *ngIf="user">
       <h4 style="text-align: center;">Logged Con {{user.email}}</h4>
       <ion-grid>
           <ion-row class="ion-align-items-center">
               <ion-col size="12" class="ion-text-center">
                   <ion-button color="danger" (click)="logOut()">log Out</ion-button>
               </ion-col>
           </ion-row>
       </ion-grid> 
    </div>
</div>