<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
<div class="table-title">
	<h3><mat-icon>wine_bar</mat-icon>Listino</h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left">Nome</th>
<th class="text-left">Anno</th>
<th class="text-left">tipo</th>
<th class="text-left">Prezzo</th>
<th class="text-left">Ordina</th>
</tr>
</thead>
<tbody class="table-hover">
<tr>
	<tr *ngFor="let vino of vini">
<td class="text-left">{{vino.nome}}</td>
<td class="text-left">{{vino.annata}}</td>
<td class="text-left">{{vino.tipo}}</td>
<td class="text-left">{{vino.prezzo}}€</td>
<td class="text-left"><button type="button" class="btn btn-default">Ordina</button></td>
</tr>
<tr>
</tbody>
</table>
  

</body>