<body>
    <header>
    <div id="testo-header">
    <h1 style="color: blueviolet;">Benvenuto nell'app N°1 in Italia per acquistare vini</h1>
    <h2 style="color: blueviolet;">Scegli tra migliaia di vini scelti dai nostri esperti per accompagnarti nella tua serata ideale</h2>
    <p style="color: blueviolet;">La vendita è vietata ai minori di 18 anni</p>
    </div>
    <div id="freccia-header">
    <a href='listino' class="ir" style="color: blueviolet;">Vai al catalogo</a>
    </div>
    </header>
        
        
</body>
