<mat-toolbar  class="mat-elevation-z6">
    <span><mat-icon>wine_bar</mat-icon>WINEDELIVERY</span>

    <a mat-button routerLink='homepage'>Home</a>
    <a mat-button routerLink='listino'>Listino</a>
    <a mat-button routerLink='ordine'>Ordina</a>
    <a mat-button routerLink='chisiamo'>Chi siamo</a>
    
    <div class="spacer"></div>

    <button mat-raised-button class="button button1" (click) = "handleLogout()" >Logout</button>
    
    <button mat-raised-button class="button button2" routerLink='login' >Login</button>
   
    
</mat-toolbar>