<mat-toolbar  class="mat-elevation-z6">
    <span><mat-icon>wine_bar</mat-icon>WINEDELIVERY</span>

    <a mat-button routerLink='homepage'>Home</a>
    <a mat-button routerLink='listino'>Listino</a>
    <a mat-button routerLink='ordine'>Ordina</a>
    <a mat-button routerLink='chisiamo'>Chi siamo</a>
    
    <div class="spacer"></div>
    <button mat-raised-button onclick="document.getElementById('id01').style.display='block'"color=#e2d3d3>Login</button>
    <!-- The Modal -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'"
  class="close" title="Close Modal">&times;</span>
  
    <!-- Modal Content -->
    <div *ngIf="!isSignedIn">
    <form class="modal-content animate">
        <span  style="size:30px" style="font-family:Times New Roman"><mat-icon>wine_bar</mat-icon>JOIN US</span>    
        <div class="mx-auto" style="margin-top:20px ;">
       <input type="text" class="form-control" placeholder="email" aria-label="Large" aria-describedby="basic-addon1" #email >
    </div>
       <div class="mx-auto" style="margin-top:50px ;">
        <input type="password" class="form-control" placeholder="password" aria-label="Large" aria-describedby="basic-addon1"#password >
      </div>
  
      <div class="mx-auto" style="margin-top:100px ;">
        <button class="button"  (click) = "onSignup(email.value, password.value)"><span>Registrati</span></button>
        <button class="button" (click) = "onSignin(email.value, password.value)"><span>Login</span></button>
    </div>
    </form>
  </div>
  <div *ngIf="isSignedIn">
    <form class="modal-content animate">
           
        <button class="button" (click) = "handleLogout()"><span>LogOut</span></button>
  
    </form>

</div>
</div>

</mat-toolbar>