html,body {
    padding: 0;
    margin: 0;
    font: 30px 'Open sans', 'sans-serif';
    color: rgb(138, 43, 226);
}
h1 {
    margin: 10px  ;
    margin-bottom: 10px;
    font-size: 24px;
}
form {
    padding: 40px;
    background: #DDD;
    border: 4px outset rgb(0, 0, 0);
    width: 360px;
    margin: 100px auto;
}
input {
    font: 14px 'Open Sans', sans-serif;
    border: 3px outset rgb(150, 7, 150);
    padding: 6px;
    display: block;
    margin-bottom: 20px;
    width: 75%;
}
button {
    font: 14px 'Open Sans', sans-serif;
    background-color: #9727b3;
    color: rgb(255, 255, 255);
    padding: 6px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
}