

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
 
    
     <input type="text" class="form-control" placeholder="email" aria-label="Large" aria-describedby="basic-addon1" >
   
     <div class="mx-auto" style="margin-top:50px ;">
      <input type="text" class="form-control" placeholder="password" aria-label="Large" aria-describedby="basic-addon1" >
    </div>

    <div class="mx-auto" style="margin-top:100px ;">
      <div class="container">
        <button id="button"></button>
      </div>
  </div>

  </form>
</div>